
    .dygraph-axis-label.dygraph-axis-label-x {
    	font-family: sans-serif;
      	font-size: 10px;
    }
    .dygraph-axis-label.dygraph-axis-label-y {
    	font-family: sans-serif;
      	font-size: 10px;
    }