<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="NDT.mac" sequenceNumber="202">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf.core.feature.group" version="3.9.2.v20141221-2352"/>
<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="3.9.2.v20141221-2352"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.aptana.ide.feature.xul.eclipse.feature.group" version="2.0.0.1282688533"/>
<repository location="http://download.aptana.org/tools/studio/plugin/update/xul-eclipse/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.1.v201503230617"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.feature.group" version="8.6.0.201502022249"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="au.com.bytecode.opencsv.feature.feature.group" version="2.3.0.201303190106"/>
<repository location="http://www.stefanocottafavi.com/eclipse/update/opencsv"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150123-0357"/>
<repository location="http://download.eclipse.org/releases/mars/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.5.1.20150303-1542"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_target_15/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.0.v20150320-0346"/>
<unit id="org.eclipse.sdk.ide" version="4.5.0.I20150320-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.5milestones"/>
</location>
</locations>
<environment>
<os>macosx</os>
</environment>
</target>
