<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
       <editor
             class="sc.ndt.editor.fast.ui.mpe.ui.FstMultiPageEditor"
             default="true"
             extensions="fst"
             icon="icons/fan-alt.png"
             id="sc.ndt.editor.fast.mpe.editor"
             name=".fst MP editor">
       </editor>
        <editor
              class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="false"
              extensions="fst"
              icon="icons/text_padding_top.png"
              id="sc.ndt.editor.fast.Fastfst"
              name=".fst editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="sc.ndt.editor.fast.Fastfst.validate">
         <activeWhen>
            <reference
                    definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="sc.ndt.editor.fast.Fastfst.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="sc.ndt.editor.fast.Fastfst" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="sc.ndt.editor.fast.Fastfst"
            name="Fastfst">
            <keywordReference id="sc.ndt.editor.fast.ui.keyword_Fastfst"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="sc.ndt.editor.fast.ui.keyword_Fastfst"
            label="Fastfst"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="sc.ndt.editor.fast.Fastfst.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="sc.ndt.editor.fast.Fastfst.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="fst">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="fst">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for sc.ndt.editor.fast.Fastfst -->
    <extension
            id="fastfst.check.fast"
            name="Fastfst Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="fastfst.check.normal"
            name="Fastfst Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="fastfst.check.expensive"
            name="Fastfst Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="sc.ndt.editor.fast.Fastfst"
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="sc.ndt.editor.fast.Fastfst.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="sc.ndt.editor.fast.ui.keyword_Fastfst"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for sc.ndt.editor.fast.Fastfst -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="sc.ndt.editor.fast.ui.fastfst.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="sc.ndt.editor.fast.ui.fastfst.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="sc.ndt.editor.fast.ui.fastfst.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>

   <!--<extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.xtext.projectwiz"
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:sc.ndt.editor.fast.ui.wizard.FastfstNewProjectWizard"
            id="sc.ndt.editor.fast.ui.wizard.FastfstNewProjectWizard"
            name="FAST Project"
            project="true">
      </wizard>
   </extension>-->
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="sc.ndt.editor.fast.Fastfst.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="sc.ndt.editor.fast.Fastfst.compare.contentViewers"
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fst">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="sc.ndt.editor.fast.Fastfst.compare.contentMergeViewers"
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="fst" label="Fastfst Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="sc.ndt.editor.fast.Fastfst.editors.documentProviders"
            class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="fst">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <category
           id="sc.ndt.ui.category.nrel.fast"
           name="FAST"
           parentCategory="sc.ndt.ui.category.nrel">
     </category>
     <wizard
           category="sc.ndt.ui.category.nrel/sc.ndt.ui.category.nrel.fast"
           class="sc.ndt.editor.fast.ui.wizard.project.FASTProjectWizard"
           finalPerspective="perspective.ndt.fast"
           icon="icons/folder_page.png"
           id="sc.ndt.fast.newproject"
           name="FAST Project"
           project="true">
     </wizard>
     <wizard
           category="sc.ndt.ui.category.nrel/sc.ndt.ui.category.nrel.fast"
           class="sc.ndt.editor.fast.ui.wizard.file.FASTMainWizard"
           finalPerspective="perspective.ndt.fast"
           icon="icons/fan-alt.png"
           id="sc.ndt.editor.fast.fst.ui.wizard1"
           name="Simple">
     </wizard>
     <wizard
           category="sc.ndt.ui.category.nrel/sc.ndt.ui.category.nrel.fast"
           class="sc.ndt.editor.fast.ui.wizard.file.FASTLinWizard"
           icon="icons/chart_line.png"
           id="sc.ndt.editor.fast.fst.ui.wizard2"
           name="Model Linearization">
     </wizard>
     <wizard
           category="sc.ndt.ui.category.nrel/sc.ndt.ui.category.nrel.fast"
           class="sc.ndt.editor.fast.fst.ui.NewWizard2"
           icon="icons/chart_organisation.png"
           id="sc.ndt.editor.fast.fst.ui.wizard2"
           name="Campbell Diagram">
     </wizard>
     <wizard
           category="sc.ndt.ui.category.nrel/sc.ndt.ui.category.nrel.fast"
           class="sc.ndt.editor.fast.fst.ui.NewWizard3"
           id="sc.ndt.editor.fast.fst.ui.wizard4"
           name="Standard DLCs">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="sc.ndt.ui.preferences.NREL"
           class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
           id="sc.ndt.ui.preferences.FAST.fst"
           name="FAST">
        <keywordReference
              id="sc.ndt.editor.fast.ui.keyword_Fastfst">
        </keywordReference>
     </page>
     <page
           category="sc.ndt.ui.preferences.FAST.fst"
           class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
           id="sc.ndt.editor.fast.Fastfst.coloring"
           name="Syntax Coloring">
        <keywordReference
              id="sc.ndt.editor.fast.ui.keyword_Fastfst">
        </keywordReference>
     </page>
     <page
           category="sc.ndt.ui.preferences.FAST.fst"
           class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
           id="sc.ndt.editor.fast.Fastfst.templates"
           name="Templates">
        <keywordReference
              id="sc.ndt.editor.fast.ui.keyword_Fastfst">
        </keywordReference>
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="sc.ndt.ui.preferences.FAST.fst"
           class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
           id="sc.ndt.editor.fast.Fastfst.compiler.preferencePage"
           name="Compiler">
        <keywordReference
              id="sc.ndt.editor.fast.ui.keyword_Fastfst">
        </keywordReference>
     </page>
  </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
     <page
           category="sc.ndt.ui.preferences.FAST.fst"
           class="sc.ndt.editor.fast.ui.FastfstExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
           id="sc.ndt.editor.fast.Fastfst.refactoring"
           name="Refactoring">
        <keywordReference
              id="sc.ndt.editor.fast.ui.keyword_Fastfst">
        </keywordReference>
     </page>
  </extension>
  <extension
        id="fastNature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="sc.ndt.editor.fast.ui.addon.nature.FASTProjectNature">
        </run>
     </runtime>
  </extension>
  <extension
        point="org.eclipse.ui.ide.projectNatureImages">
     <image
           icon="icons/letter_F.gif"
           id="sc.ndt.editor.fast.fst.ui.image1"
           natureId="sc.ndt.editor.fast.fst.ui.fastNature">
     </image>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <commonFilter
           description="Hide echo files"
           id="sc.ndt.filter.resource.ech"
           name=".ech files">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.ech">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
     <commonFilter
           description="Hide option files"
           id="sc.ndt.filter.resource.opt"
           name=".opt files">
        <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IResource">
                 <test
                       property="org.eclipse.core.resources.name"
                       value="*.opt">
                 </test>
              </adapt>
           </and>
        </filterExpression>
     </commonFilter>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 pattern="sc.ndt.filter.resource.ech">
           </contentExtension>
           <contentExtension
                 pattern="sc.ndt.filter.resource.opt">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="sc.ndt.editor.fast.ui.addon.perspectives.FASTPerspective"
           icon="icons/fan.png"
           id="perspective.ndt.fast"
           name="FAST Simulation">
     </perspective>
     <perspective
           class="sc.ndt.editor.fast.ui.addon.perspectives.FASTPerspectiveDesign"
           icon="icons/sticky-note.png"
           id="perspective.ndt.fast.design"
           name="FAST Design">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="perspective.ndt.fast">
        <view
              id="org.eclipse.ui.navigator.ProjectExplorer"
              minimized="false"
              ratio="0.15"
              relationship="left"
              relative="org.eclipse.ui.editorss">
        </view>
        <view
              id="org.eclipse.ui.console.ConsoleView"
              minimized="false"
              ratio="0.70"
              relationship="bottom"
              relative="org.eclipse.ui.editorss">
        </view>
        <view
              id="org.eclipse.ui.views.ProblemView"
              minimized="false"
              relationship="stack"
              relative="org.eclipse.ui.console.ConsoleView">
        </view>
        <view
              id="org.eclipse.ui.views.ContentOutline"
              minimized="false"
              ratio="0.80"
              relationship="right"
              relative="org.eclipse.ui.editorss">
        </view>
     </perspectiveExtension>
     <perspectiveExtension
           targetID="perspective.ndt.fast.design">
        <view
              closeable="false"
              id="org.eclipse.ui.views.ContentOutline"
              minimized="false"
              moveable="false"
              ratio="0.15"
              relationship="right"
              relative="org.eclipse.ui.editorss">
        </view>
     </perspectiveExtension>
  </extension>
  <extension
        point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="src/sc/ndt/editor/fast/ui/mpe/ui/dev/viewmodels/ModelFast8fst.view"/>

  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.core.resources.IFile"
           class="sc.ndt.editor.fast.ui.addon.adapter.ModelFstAdapter">
        <adapter
              type="sc.ndt.editor.fast.fastfst.ModelFastfst">
        </adapter>
     </factory>
     <factory
           adaptableType="org.eclipse.ui.IFileEditorInput"
           class="sc.ndt.editor.fast.ui.addon.adapter.ModelFstAdapter">
        <adapter
              type="sc.ndt.editor.fast.fastfst.ModelFastfst">
        </adapter>
     </factory>
  </extension>

</plugin>
